#home {
  min-height: 100vh;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.homepage {
  background: url("/assets/gather.jpg") center center/cover no-repeat;
  background-size: cover;

  &-title {
    color: $white;

    &.dark {
      color: $title;
    }
  }
}
#home {
  @include respond(phone){
    text-align: center;
    padding: 1rem;
    #homepage-text{
      font-size: 40px;
    }
  }
}

.grid-3{
  padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-top: 3rem;
    p{
      color: #fff;
      font-weight: bold;
    }
  }
  .grid-itms.mb{
    margin-bottom: 0;
    margin-top: 10px;
    flex-basis: 48%;
  }
  .grid-itms{
    flex-basis: 32%;
    text-align: center;
    // border-radius: 7px;
    // margin-bottom: 1px;
    color: #fff;
    position: relative;
  }
.line{
  border-top: 2px solid white;
  margin-top: 10px;
}
 .grid-3 {
    @include respond(phone){
      .grid-itms{
        flex-basis: 80%;
        text-align: center;
        margin-bottom: 20px;
        // hr{
        //   max-width: 100px;
        //   margin: 0 auto;
        // }
      }
    }
  }

  #home{
    @include respond(tab-port) {
      text-align: center;
    padding: 1rem;
    #homepage-text{
      font-size: 40px;
    }
    }
  }
  .grid-3 {
    @include respond(tab-port){
      .grid-itms{
        flex-basis: 32%;
        // text-align: center;
        margin-bottom: 20px;
      }
    }
  }
