.footer {
  min-height: 20vh;
  background-color: $bg-dark;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  color: $white;
  padding: 5rem 0;

  &.dark {
    background-color: $bg-alt;
    color: $black;
  }

  a {
    color: $white;
  }
  h3 {
    color: $white;
  }
  h4 {
    color: $white;
  }
  label{
    position: relative;
  }
  input[type="text"]{
    border: 1px solid $white;
    width:300px;
    height:40px;
    background: none;
    padding: 10px 15px;
    border-radius: 5px;
  }
  .btnx{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    background-color: $white;
    border-radius: 5px ;
    border: none;
    padding:10px 30px;
    cursor: pointer;
  }

  &-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

    &_socials {
      display: flex;
      gap: 5px;
    }
  }
}
.mb-15{
  padding-bottom: 150px;
}
.mb-7{
  padding-bottom: 70px;
}