#home {
  min-height: 100vh;
  display: grid;
  place-items: start;
  align-items: center;
  padding: 4rem;
}

.homepage {
  background: url("/assets/fullpage.jpg") center center/cover no-repeat;
  background-size: cover;

  &-title {
    color: $white;

    &.dark {
      color: $title;
    }
  }
}
.homepage {
  @include respond(phone){
    h1{
      text-align: center;
    }
  }
}
