#home {
  min-height: 100vh;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}
.bn{
  margin-bottom: 9rem;
}
.homepage {
  background: url("/assets/gather.jpg") center center/cover no-repeat;
  background-size: cover;

  &-title {
    color: $white;

    &.dark {
      color: $title;
    }
  }
}
#home {
  @include respond(phone){
    text-align: center;
    padding: 1rem;
    h1{
      font-size: 40px;
    }
    // .bn{
    //   margin-bottom: 90px;
    // }
  }
}
