.volunteer {
  background-color: $white;
}
.chartside {
  color: $white !important;
}
.grid-item1 p {
  color: $white;
}
.contribute {
  width: 80%;
  max-width: 900px;
  margin: 2rem auto;
  text-align: center;
  background: url("/assets/gather2.jpg") center center/cover no-repeat;
  padding: 2rem;
  border-radius: 2rem;

  &-btns {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
.grid-2 {
  padding: 2rem 4rem;
  background: $bg-dark;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.grid-item1 {
  flex-basis: 58%;
  text-align: start;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.grid-item2 {
  flex-basis: 38%;
  text-align: start;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.mt-5 {
  margin-top: 50px;
}
.mb-5 {
  margin-bottom: 50px;
}

.volunteer {
  .cntr {
    text-align: center;
    max-width: 85%;
  }
  @include respond(phone) {
    .grid-2 {
      padding: 1rem 2rem;
      .grid-item1,
      .grid-item2 {
        flex-basis: 100%;
      }
      .cntr {
        text-align: center;
        max-width: 100%;
      }
    }
  }
}
.contribute {
  @include respond(phone) {
    margin: 0 auto 2rem;
  }
}
