.about-page {
  padding: 1rem 4rem;
  .header-section {
    position: relative;
    > div {
      min-height: 40vh;
      @include grid();

      > div {
        height: 50%;
        @include flex-container(space-between, flex-start);
        flex-direction: column;
        

        &:last-child {
          padding: 1rem;
        }
      }
    }
  }

  .header-title {
    color: $title;
    text-transform: uppercase;
  }
  .start{
    display: flex;
    flex-direction: column;
    align-items:start;
    margin-right: 170px;
  }
  .sub-title {
    color: $title;
  }

  .paragraphs {
    .paragraph {
      color: $title;
      text-align: left;
      line-height: 30px;
    }
  }
}
.team-photograph {
  text-align: center;
  width: 100%;
  // border-radius: 20px;
}

.mission {
  width: 80%;
  height: 20vh;
  margin: 40px auto 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: start;
}

.aims {
  flex-basis: 50%;
 
}

.team {
  @include flex-container($gap: 3rem, $flex-direction: column);

  &-group {
    width: 100%;
    @include grid(1rem);
  }
}
.pt-3{
  padding-top: 30px;
}
.pt-5{
  padding-top: 50px;
}
.mb-5{
  margin-bottom: 50px;
}
