.about-page {
  .header-section {
    position: relative;
    > div {
      min-height: 40vh;
      @include grid();

      > div {
        height: 50%;
        @include flex-container(space-between, flex-start);
        flex-direction: column;
        

        &:last-child {
          padding: 1rem;
        }
      }
    }
  }
  #team{
    object-fit: cover;
  }
.sect{
  background: $bg;
}
  .header-title {
    color: $title;
    text-transform: uppercase;
  }
  .start{
    display: flex;
    flex-direction: column;
    align-items:start;
    margin-right: 170px;
  }
  .sub-title {
    color: $title;
  }

  .paragraphs {
    .paragraph {
      color: $title;
      text-align: left;
      line-height: 30px;
    }
  }
}
.team-photograph {
  text-align: center;
  width: 100%;
  // border-radius: 20px;
}

.mission {
  width: 80%;
  height: 20vh;
  margin: 40px auto 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: start;
}

.aims {
  flex-basis: 50%;
 
}
.pt-3{
  padding-top: 30px;
}
.pt-5{
  padding-top: 50px;
}
.mb-5{
  margin-bottom: 50px;
}

.grid2{
  padding: 2rem 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
  .grid-items{
    flex-basis: 48%;
    text-align: start;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
  }
  .grid3{
    padding: 2rem 4rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
    }
    .grid-item{
      flex-basis: 32%;
    }
    .text-center{
      text-align: center;
    }
    .sub-header{
      width: 60%;
      margin: 0 auto;
      text-align: center;
    }

    .about-page{
      @include respond(phone) {
        #team{
          padding:0 1rem;
        }
        .grid2{
          padding: 2rem;
        }
      }
    }
