:root {
  &.light {
    background-color: white;
    color: $black;
  }

  &.dark {
    background-color: $primary;
    color: $black;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  // font-family: "Raleway", sans-serif;
}

main {
  margin-top: 80px;
}

section {
  min-height: 100vh;
  max-width: 2200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.toggle-btn {
  border: none;
  font-size: 1.5rem;
  color: blue;
  background: none;
  cursor: pointer;
  margin-left: 1rem;
}

img {
  max-width: 100%;
}
