$primary: #096a56;
$active: #205053;
$bg: #e8ebf0;
$text: #374151;
$title: #22495f;
$bg-alt: #e7f2f7;
$black: #1e1e1e;

$bg-dark: #1e1e1e;
$text-dark: #e8ebf0;
$bg-alt-dark: #374151;
$black-dark: #e7f2f7;
