h1 {
  font-size: 54px;
}
h2 {
  font-size: 48px;
  color: $title;
}
h3 {
  font-size: 28px;
  color: $title;
}
h4 {
  font-size: 20px;
  color: $title;
}
h5 {
  font-size: 14px;
  color: $title;
}
h6 {
  font-size: 12px;
  color: $title;
}

p {
  font-size: 16px;
}
