h2 {
  font-size: 48px;
  color: $title;

  @include tab-port {
    font-size: 36px;
  }

  @include phone {
    font-size: 24px;
  }
}

h3 {
  font-size: 28px;
  color: $title;

  @include tab-port {
    font-size: 24px;
  }

  @include phone {
    font-size: 20px;
  }
}

h4 {
  font-size: 20px;
  color: $title;

  @include tab-port {
    font-size: 18px;
  }

  @include phone {
    font-size: 16px;
  }
}

h5 {
  font-size: 14px;
  color: $title;

  @include tab-port {
    font-size: 12px;
  }

  @include phone {
    font-size: 10px;
  }
}

h6 {
  font-size: 12px;
  color: $title;

  @include tab-port {
    font-size: 10px;
  }

  @include phone {
    font-size: 8px;
  }
}

p {
  font-size: 16px;

  @include tab-port {
    font-size: 14px;
  }

  @include phone {
    font-size: 12px;
  }
}
