h1 {
  font-size: 56px;
  color: $title;

  @include respond(tab-port) {
    font-size: 48px;
  }

  @include respond(phone) {
    font-size: 32px;
  }
}
h2 {
  font-size: 48px;
  color: $title;

  @include respond(tab-port) {
    font-size: 36px;
  }

  @include respond(phone) {
    font-size: 24px;
  }
}

h3 {
  font-size: 28px;
  color: $title;

  @include respond(tab-port) {
    font-size: 24px;
  }

  @include respond(phone) {
    font-size: 20px;
  }
}

h4 {
  font-size: 20px;
  color: $title;
  margin-bottom: 10px;

  @include respond(tab-port) {
    font-size: 18px;
  }

  @include respond(phone) {
    font-size: 16px;
  }
}

h5 {
  font-size: 14px;
  color: $title;

  @include respond(tab-port) {
    font-size: 12px;
  }

  @include respond(phone) {
    font-size: 10px;
  }
}

h6 {
  font-size: 12px;
  color: $title;

  @include respond(tab-port) {
    font-size: 10px;
  }

  @include respond(phone) {
    font-size: 8px;
  }
}

p {
  font-size: 16px;

  @include respond(tab-port) {
    font-size: 14px;
  }

  @include respond(phone) {
    font-size: 12px;
  }
}
